@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
html{
	font-size: 62.5%;
}
h1,h2,h3{
	margin: 0;
}

body {
	/*  background: black; */
	font: 1.6rem sans-serif;
    background: url(../asset/cover.jpg) no-repeat fixed center center  / cover;
	overflow: hidden;
	letter-spacing: .1rem;
	line-height: 1.6;
	-webkit-backdrop-filter: blur(.5rem);
	backdrop-filter: blur(.5rem);
}
header h1{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: 'halloween_tooregular';
	text-align: center;
	color: #a91010;
	font-size: 7.5rem;
	letter-spacing: .5rem;
	animation: blur 2.5s linear infinite alternate;
    animation-delay: 0s;
	text-shadow: -.1rem -.1rem 0 #222, 
	.1rem -.1rem 0 #222, 
	-.1rem .1rem 0 #222, 
	.1rem .1rem 0 #222, 
	.4rem .4rem 0 rgba(0, 0, 0, 0.2);
}

@keyframes blur{
    from{
		filter: drop-shadow(0 0 0 0);
    }
    to{
		filter: drop-shadow(0 0 .6rem rgb(255, 255, 0, .8));
    }
}
 .containCube {
	 position: relative;
	 height: 100vh;
	 width: 100%;
	 perspective: 85rem;
}
 .containCube .cube {
	 position: absolute;
	 height: 30rem;
	 width: 30rem;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 margin: auto;
	 box-sizing: border-box;
	 transform-style: preserve-3d;
	 transform-origin: 50% 50%;
	 animation: rotate 20s ease-in-out infinite alternate;
	 z-index: 10;
}
 .containCube .cubeGroup {
	 position: absolute;
	 display: grid;
	 box-sizing: border-box;
	 height: 100%;
	 width: 100%;
	 font-family: "Baloo Bhai", cursive;
	 color: #ffffff;
	 text-shadow: 0 0 .1rem #000000;
	 border: .1rem solid #ffffff;
}

 .containCube .cubeGroup h2 {
	 margin: auto;
     text-align: center;
}
 .containCube .cube-front {
	 transform: translatez(15rem);
}
 .containCube .cube-rear {
	 transform: translatez(-15rem) rotatey(180deg);
}
 .containCube .cube-right {
	 transform-origin: 100%;
	 transform: rotatey(90deg) translatex(15rem);
}
 .containCube .cube-left {
	 transform-origin: 0%;
	 transform: rotatey(-90deg) translatex(-15rem);
}
 .containCube .cube-bottom {
	 transform-origin: 50% 100%;
	 transform: rotatex(-90deg) translatey(15rem);
}
 .containCube .cube-top {
	 transform-origin: 50% 0%;
	 transform: rotatex(90deg) translatey(-15rem);
}
 .containCube .cube-1 {
	 background: rgba(76, 205, 246, 0.9);
     box-shadow: inset 0 0 3rem #222;
}
 .containCube .cube-2 {
	 background: rgba(99, 26, 245, 0.9);
     box-shadow: inset 0 0 3rem #222;
}

.containCube .cube-1 img,
.containCube .cube-2 img,
.containCube .cube-3 img,
.containCube .cube-4 img,
.containCube .cube-5 img,
.containCube .cube-6 img,
.containCube .cube-top img,
.containCube .cube-bottom img{
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
	opacity: .8;
}

 .containCube .cube-3 {
	 background: rgba(196, 243, 179, 0.9);
     box-shadow: inset 0 0 3rem #222;
}
 .containCube .cube-4 {
	 background: rgba(37, 160, 119, 0.9);
     box-shadow: inset 0 0 3rem #222;
}
 .containCube .cube-5 {
	 background: rgba(200, 218, 199, 0.9);
     box-shadow: inset 0 0 3rem #222;
}
 .containCube .cube-6 {
	 background: rgba(217, 101, 181, 0.9);
     box-shadow: inset 0 0 3rem #222;
}
 @keyframes rotate {
	 10% {
		 transform: rotate3d(1, 1, 0, 320deg);
	}
	 20% {
		 transform: rotate3d(1, 0, 0, -90deg);
	}
	 30% {
		 transform: rotate3d(1, 1, 0, 440deg);
	}
	 40% {
		 transform: rotate3d(1, 0, 0, -180deg);
	}
	 50% {
		 transform: rotate3d(1, 1, 0, 460deg);
	}
	 60% {
		 transform: rotate3d(0, 1, 0, -195deg);
	}
	 70% {
		 transform: rotate3d(1, 1, 0, 172deg);
	}
	 80% {
		 transform: rotate3d(0, 1, 0, -360deg);
	}
	 90% {
		 transform: rotate3d(1, 1, 0, 280deg);
	}
}
 @keyframes rotateZed {
	 20% {
		 transform: translatez(10rem);
	}
	 40% {
		 transform: translatez(-10rem);
	}
	 60% {
		 transform: translatez(10rem);
	}
	 80% {
		 transform: translatez(-10rem);
	}
}
 